<div class="container">
    <div>
        <h2>Modifier un Medicament :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID</label>
            <input readonly type="text" [(ngModel)]="currentMedicament.idMedicament" name="idMedicament" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom</label>
            <input type="text" [(ngModel)]="currentMedicament.nomMedicament" name="nomMedicament" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix</label>
            <input type="number" [(ngModel)]="currentMedicament.prixMedicament" name="prixMedicament" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>

            <input type="date" [ngModel]="currentMedicament.datefabrication| date: 'yyyy-MM-dd'" (ngModelChange)=" currentMedicament.datefabrication= $event" name="datefabrication" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updatedFamId">
            <option *ngFor="let fam of familles" [value]="fam.idFam" >
            {{fam.nomFam}}
            </option>
            </select>
        </div>

        <div class="mt-2">

            <button type="submit" (click)="updateMedicament()" class="btn btn-success">Modifer</button>

        </div>
    </form>

</div>